@mixin h1 {
  font: {
    size: rem(20px);
    weight: 700;
  }
  letter-spacing: -0.01875em;
}

@mixin h2 {
  font: {
    size: rem(15px);
    weight: 700;
  }
  letter-spacing: -0.01375em;
}

@mixin pRegular {
  font: {
    size: rem(14px);
    weight: 400;
  }
  letter-spacing: -0.0125em;
  line-height: lineHeight(26, 14);
}
