@import "./partials/functions", "./partials/mixins", "./partials/variables";

// *** General ***
* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-light-gray;
  display: grid;
  place-content: center;
  line-height: 1;
}

.container {
  border-radius: 8px;
  width: rem(635px);
  background-color: #fff;
  margin-top: rem(198px);
  margin-bottom: rem(127px);
  overflow: hidden;
}

// *** Elements ***
.header {
  padding: rem(43px) rem(40px) rem(40px);
}

.header_h1 {
  @include h1;
  color: $color-cyan;
}

.header_h2 {
  @include h2;
  color: $color-bright-yellow;
  padding-top: rem(26px);
}

.header_p {
  @include pRegular;
  color: $color-grayish-blue;
  padding-top: rem(13px);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: rem(260px);
}

.footer_subscription {
  background-color: $color-cyan;
  padding: rem(41px) rem(40px);
}

.footer_subscription_h2 {
  @include h2;
  color: $color-light-gray;
}

.footer_subscription_price {
  display: flex;
  align-items: center;
  padding-top: rem(23px);
}

.footer_subscription_price_p-dollar {
  color: $color-light-gray;
  font-size: rem(32px);
  font-weight: bold;
  letter-spacing: -0.025em;
}

.footer_subscription_price_p-per-month {
  @include pRegular;
  color: $color-light-gray;
  opacity: 0.5;
  padding-left: 0.9rem;
}

.footer_subscription_p {
  @include pRegular;
  color: $color-light-gray;
  padding-top: rem(6px);
}

.footer_subscription_a-button {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  display: block;
  background-color: $color-bright-yellow;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.0125em;
  margin-top: rem(27px);
  text-align: center;
  text-decoration: none;
  // width: 237px;
  line-height: rem(48px);
}

.footer_subscription_a-button:hover {
  background-color: $color-light-gray;
  color: $color-cyan;
}

.footer_subscription_a-button:focus {
  outline: transparent;
}

.footer_why-us {
  background-color: $color-cyan;
  opacity: 0.85;
  // width: 318px;
  padding: rem(41px) rem(40px);
}

.footer_why-us_h2 {
  @include h2;
  color: $color-light-gray;
}

.footer_why-us_ul {
  color: #fff;
  font-size: rem(14px);
  letter-spacing: -0.010625em;
  line-height: lineHeight(20, 14);
  opacity: 0.75;
  padding-top: rem(20px);
  list-style: none;
}
