@import "./partials/functions", "./partials/mixins-queries",
  "./partials/variables";

@media (max-width: 660px) {
  // ==================== General ====================
  .container {
    border-radius: 5px;
    margin-bottom: rem(62px);
    margin-top: rem(72px);
    width: rem(301px);
  }

  .header {
    padding: rem(28px) rem(24px) rem(31px);
  }

  .header_h1 {
    @include h1;
  }

  .header_h2 {
    @include h2;
    line-height: lineHeight(20, 15);
  }

  .header_p {
    @include pRegular;
    padding-top: rem(18px);
  }

  // ==================== Footer ====================
  .footer {
    grid-template-columns: 1fr;
    height: auto;
  }

  .footer_subscription {
    padding: rem(25px) rem(24px);
  }

  .footer_subscription_h2 {
    @include h2;
    font-size: rem(18px);
  }

  .footer_subscription_price {
    padding-top: rem(22px);
  }

  .footer_subscription_price_p-per-month {
    @include pRegular;
    color: $color-light-gray;
    font-size: 1rem;
  }

  .footer_subscription_p {
    @include pRegular;
    font-size: 1rem;
    padding-top: rem(5px);
  }

  .footer_subscription_a-button {
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
    margin-top: rem(24px);
  }

  .footer_why-us {
    padding: rem(25px) rem(24px);
  }

  .footer_why-us_h2 {
    @include h2;
    font-size: rem(18px);
  }
}
